* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #141414;
  color: #fff;
}
.movie-app > .row{
  overflow-x: auto;
  flex-wrap: nowrap;
}
.movie-app > .row::-webkit-scrollbar {
  height: 2px;
  width: 100%;
  background-color: #ddd;
}
.movie-app > .row::-webkit-scrollbar-thumb {
  background-color: #141414;
  box-shadow:5px 0px 10px 10px #222;
  border-radius: 2px;
}
.movie-app > .row::-webkit-scrollbar-button {
  background-color: #222;
  width: 3px;
  padding: 0;
}
.image-container {
  position: relative;
  transition: transform .2s;
}
.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.image-container:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;

}
